@import 'components/tabs';

/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

/* Logo Montifaud Style */
.logo-home {
  display: block;
  max-width: 650px;
  margin: 0 auto;
  margin-top: 240px;
  width: 90%;
  -webkit-transition: all 0.6s easeOutQuart;
  -moz-transition: all 0.6s easeOutQuart;
  -o-transition: all 0.6s easeOutQuart;
  transition: all 0.6s easeOutQuart;
}



/* Toggle Styles */
h4{
  color: $green-dark;
}

#wrapper {
    padding-left: 0px;
    height: 100%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 0px;
}

#sidebar-wrapper {
    // z-index: 1000;
    position: fixed;
    left: 250px;
    top: 0;
    // width: 0;
    height: 100%;
    margin-left: -100px;
    overflow-y: auto;
    background: #e8e8e8;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    p {
      font-size: 12px;
      padding: 0 10px;
      line-height: 1.1;
    }
    span {
        color: $orange;
    }
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    position: absolute;
    width: 100%;
    padding: 15px;
    .col-sm-12 {
      height: 100vh -95px;
      margin: 0 -10px;
    }
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 235px;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}



@media(min-width:768px) {
  #wrapper {
      padding-left: 250px;
  }

  #wrapper.toggled {
      padding-left: 0px;
      width: 100%;
      overflow: auto;
      z-index: 400;
  }

  #sidebar-wrapper {
      width: 260px;
      z-index: 500;
  }

  #wrapper.toggled #sidebar-wrapper {
      width: 0px;
  }

  #page-content-wrapper {
      padding: 0px;
      position: relative;
      overflow: hidden;
  }

  #wrapper.toggled #page-content-wrapper {
      position: relative;
      margin: 0;
      width: 100%;
  }

  .intro{
    position: absolute;
    height: 300px;
    width: 100%;
    background-color: #EDF399;
    margin: 0 -3px;
    bottom: -5px;
    #inner-button{
      position:absolute;
      top: -20px;
      left: 40px;
      height: 40px;
      width: 190px;
      background-color: #EDF399;
      border-radius: 10px;
      cursor: pointer;
      text-align: center;
    }
    p{
      font-size: 11px;
      &:first-child{
        color: $orange;
        padding-top: 25px;
      }
    }
    #base-intro{
        padding: 19px;
    }
    .episode{
      bottom: 20px;
      right: 0;
      i{
        padding-left: 10px;
      }
    }
  }

}
