<div class="navbar">

  <div class="logo"><%= image_tag 'montifaud-logo-menu.svg', alt: 'logo de montifaud' %></div>

  <div class="text-center">
    <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Les Offres</a>
  </div>

  <ul class="menu">
    <li class="menu__item">
      <a href="#">Lieu</a>
      <div class="menu__caption">
        <%= image_tag "montifaud-feuille-menu.svg", alt: "feuille de montifaud" %>
      </div>
    </li>

    <li class="menu__item">
      <a href="#">Corps</a>
      <div class="menu__caption">
        <%= image_tag "montifaud-feuille-menu.svg", alt: "feuille de montifaud" %>
      </div>
    </li>

    <li class="menu__item">
      <a href="#">Esprit</a>
      <div class="menu__caption">
        <%= image_tag "montifaud-feuille-menu.svg", alt: "feuille de montifaud" %>
      </div>
    </li>
  </ul>
</div>

