<div class="sidebar">

  <div class="avatar"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg" alt="" /></div>

  <ul class="menu">
    <li class="menu__item">
      <a href="#"><i class="fa fa-align-left"></i></a>
      <span class="menu__caption">feed</span>
    </li>
    <li class="menu__item">
      <a href="#"><i class="fa fa-bar-chart-o"></i></a>
      <span class="menu__caption">charts</span>
    </li>
    <li class="menu__item">
      <a href="#"><i class="fa fa-picture-o"></i></a>
      <span class="menu__caption">photo</span>
    </li>
    <li class="menu__item">
      <a href="#"><i class="fa fa-film"></i></a>
      <span class="menu__caption">video</span>
    </li>
    <li class="menu__item">
      <a href="#"><i class="fa fa-pencil"></i></a>
      <span class="menu__caption">notes</span>
    </li>
    <li class="menu__item">
      <a href="#"><i class="fa fa-cogs"></i></a>
      <span class="menu__caption">settings</span>
    </li>
  </ul>
</div>
