<div class="navbar">

  <div class="logo"><%= image_tag 'montifaud-logo-menu.svg', alt: 'logo de montifaud' %></div>

  <ul class="menu">
    <li class="menu__item">
      <a href="#">Lieu</a>
      <div class="menu__caption">
        <%= image_tag "montifaud-feuille-menu.svg", alt: "feuille de montifaud" %>
      </div>
    </li>

    <li class="menu__item">
      <a href="#">Corps</a>
      <div class="menu__caption">
        <%= image_tag "montifaud-feuille-menu.svg", alt: "feuille de montifaud" %>
      </div>
    </li>

    <li class="menu__item">
      <a href="#">Esprit</a>
      <div class="menu__caption">
        <%= image_tag "montifaud-feuille-menu.svg", alt: "feuille de montifaud" %>
      </div>
    </li>
  </ul>

  <ul class="footer">
    <li class="footer_item">
      <a href="#" class="footer_newsletter">Newsletter</a>
    </li>
    <li class="footer_item">
      <a href="#" class="footer_newsletter">Plan du site</a>
    </li>
    <li class="footer_item">
      <a href="#" class="footer_newsletter">Mentions légales</a>
    </li>


      <ul class="list-inline">
        <li class="footer_social">
          <a href="https://www.facebook.com/profile.php?id=610974604&fref=ts" target="_blank">
            <i class="fa fa-facebook-square"></i>
          </a>
        </li>
        <li class="footer_social">
          <a href="#" target="_blank">
            <i class="fa fa-youtube-play"></i>
          </a>
        </li>
        <li class="footer_social">
          <a href="#" target="_blank">
            <i class="fa fa-pinterest"></i>
          </a>
        </li>
      </ul>

  </ul>

</div>

