<div id="wrapper">

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand text-center">
        <h2>Les Offres</h2>
      </li>
      <li>
        <span>Location Salle</span>
        <p>Entreprise ou particulier, nous mettons à votre disposition des salles pour vos réunions, séminaires d'entreprise, réception de mariage, organisation d'anniversaire. Vous échangerez avec Jeanne-Marie Morisset sur la diposition et des équipements possibles. </p>
      </li>
      <li>
        <span>Gîte</span>
        <p>Que vous soyez une famille ou un groupe, vous pourrez profiter d'un hébergement d'une capacité d'accueil de 5 à 8 personnes, le temps de votre séjour, stage ou séminaire.</p>
      </li>
      <li>
        <span>Chambres d'hôtes</span>
        <p>En vacances ou pendant le weekend, vou pourrez bénéficier d'une chambre au style champêtre et sobre. En chambre simple et double, vous pourrez discuter du nombre de lit dont vous avez besoin et de la literie selon votre budget.</p>
      </li>
      <li>
        <span>Table d'hôtes</span>
        <p>Sur réservation avec votre hébergement, Jeanne-Marie vous accueillera à sa table paysanne le temps de votre pause repas.Vous dégusterez des produits locaux frais du jardin et de la région. </p>
      </li>
      <li>
        <span>Résidence d'artistes</span>
        <p>Venez vous immerger au calme de la campagne pour réaliser vos travaux artistiques. Vous serez hébergés et accuillis à la table d'hôtes tout le long de votre séjour en résidence.</p>
      </li>
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->
