<div class="tabs">
  <%= link_to '#menu-toggle', html_options = { id: 'menu-toggle'} do %>
    <div class="tab tab1 active">OFFRES</div>
  <% end %>

  <%= link_to 'calendar' do %>
    <div class="tab tab2">AGENDA</div>
  <% end %>

  <%= link_to 'contact' do %>
    <div class="tab tab3">CONTACT</div>
  <% end %>
</div>
