<% provide(:page_title, "contact") %>
<%= render 'shared/offres' %>

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">

          <%= render 'shared/tabs' %>
          <h1>Pages#Contact</h1>

        </div>
      </div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->
<!-- Menu Toggle Script -->
<script>
  $("#wrapper").toggleClass("toggled");
  $("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
    $(".tab1").toggleClass("active");
  });
</script>
