<% provide(:page_title, "contact") %>
<%= render 'shared/offres' %>

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">

          <div class="tabs">
            <%= link_to '#menu-toggle', html_options = { id: 'menu-toggle'} do %>
            <div class="tab tab1 active">OFFRES</div>
            <% end %>

            <%= link_to 'calendar' do %>
            <div class="tab tab2">AGENDA</div>
            <% end %>

            <%= link_to 'contact' do %>
            <div class="tab tab3 active">CONTACT</div>
            <% end %>
          </div>
          <h1>Pages#Contact</h1>

        </div>
      </div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->
<!-- Menu Toggle Script -->
<script>
  $("#wrapper").toggleClass("toggled");
  $(".tab1").toggleClass('active');
  $("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
    $(".tab1").toggleClass('active');
  });
</script>
