<% provide(:page_title, "Home") %>
<%= render 'shared/offres' %>

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <div class="tabs">

            <%= link_to '#menu-toggle', html_options = { id: 'menu-toggle'} do %>
              <div class="tab tab1 active">OFFRES</div>
            <% end %>

            <%= link_to 'calendar' do %>
              <div class="tab tab2">AGENDA</div>
            <% end %>

            <%= link_to 'contact' do %>
              <div class="tab tab3">CONTACT</div>
            <% end %>
          </div>
          <h1>Pages#home</h1>
          <h2>Simple Sidebar</h2>
          <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
          <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->
<!-- Menu Toggle Script -->
<script>
  $("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
    $(".tab1").toggleClass('active');
  });

</script>
