<% provide(:page_title, "Jardin") %>
<%= render 'shared/offres' %>


<!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <%= render 'shared/tabs' %>
          <h1>page#Jardin</h1>

        </div>
      </div>
    </div>
  </div>



<script>
  $("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
    $(".tab1").toggleClass('active');
  });
</script>
