.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  background: #f2f2f2;
  height: 100%;
  width: 100px;
  padding-top: 18px;

  .menu {
    display: block;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    text-align: center;

    &__item {
      position: relative;
      margin-bottom: 18px;
      font-size: 20px;

      a {
        color: #C2C2C2;
      }

      &:hover {
        a {
          color: #72D271;
        }

        .menu__caption {
          left: 109px;
          transform: rotateY(0);
          opacity: 1;
        }
      }
    }

    &__caption {
      position: absolute;
      top: 4px;
      left: 128px;
      text-align: left;
      transition: all .3s;
      transform: rotateY(45deg);
      opacity: 0;
      font-size: 16px;
      color: #C2C2C2;
    }
  }
}


.avatar {
  width: 64px;
  height: 64px;
  background: #afbcbd;
  border-radius: 50%;
  margin: 0 auto 18px;
  position: relative;

  &:hover {
    img {
      box-sizing: border-box;
      border: 2px solid #72D271;
    }

    &:before {
      display: none;
    }
  }

  img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    transition: border .4s;
  }

  &:before {
    content: "";

    $width: 52px;

    width: $width;
    height: 34px;
    top: -2px;
    left: 50%;

    margin-left: -$width/2;

    border-radius: 50% 50% 0 0;

    position: absolute;

    z-index: -1;

    background: linear-gradient(to left, rgba(46,204,113,1) 0%,rgba(125,185,232,0) 100%);

    transform-origin: 50% 100%;
    transform: rotate(0deg);

    animation: avatar-anim 4.5s infinite 1.5s;
  }

}

@keyframes avatar-anim {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    transform: rotate(360deg);
    opacity: 0;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}
