.navbar {
  // z-index: 1000;
  position: fixed;
  top: -20px;
  left: 0;
  // background: #292424;
  height: 100%;
  width: 150px;
  padding-top: 18px;
  .back{
    height: 100vh;
  }



  .menu {
    display: block;
    margin: 20px auto;
    padding: 0;
    list-style-type: none;
    text-align: center;
    margin-top: 20px;
    &__item {
      position: relative;
      font-size: 20px;
      line-height: 1;
      color: #C2C2C2;
      cursor: pointer;
      border-bottom: 1px solid #C2C2C2;
      padding: 5px 0;
      &:first-child{
        padding-bottom: 30px;
      }
      a {
        color: #C2C2C2;
      }
      &:hover {
        color: $green-dark;
        text-decoration: none;
        .menu__caption {
          left: 109px;
          transform: rotateY(0);
          opacity: 1;
        }
      }
    }
    &__caption {
      position: absolute;
      top: 4px;
      left: 128px;
      text-align: left;
      transition: all .3s;
      transform: rotateY(45deg);
      opacity: 0;
    }
  }
}


.logo {
  margin: 0 auto 18px;
  position: relative;
  padding-top: 35px;
}

@keyframes avatar-anim {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    transform: rotate(360deg);
    opacity: 0;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}
