.banner {
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-image: url('ACCUEIL-MONTIFAUD.png');
  // background-size: cover !important;
  height: 150%;
  width: auto;
  margin-top: -20px;

}
