.tabs {
    z-index: 100;
}

.tab {
    position: absolute;
    height: 20px;
    width: 75px;
    font-size: 14px;
    background-color: $orange;
    border-radius: 0 0 5px 0;
    transform: rotate(-90deg);
    transform-origin: 0 0;
    text-align: center;
    color: white;
    &.active {
      height: 40px;
      padding-top: 20px;
    }
}
.tab1 {
    top: 170px;
    left: -5px;
}

.tab2 {
    top: 247px;
    left: -5px;
}

.tab3 {
    top: 324px;
    left: -5px;
}



@media(min-width:768px) {
  #wrapper.toggled{
    .tabs {
        z-index: 600;
    }

    .tab {
        position: absolute;
        height: 20px;
        width: 75px;
        font-size: 14px;
        background-color: $orange;
        border-radius: 0 0 5px 0;
        transform: rotate(-90deg);
        text-align: center;
        color: white;

    }

    .tab1 {
        top: 170px;
        left: 10px;
    }

    .tab2 {
        top: 247px;
        left: 10px;
    }

    .tab3 {
        top: 324px;
        left: 10px;
    }
  }
  .tabs {
        z-index: 600;
    }

    .tab {
        position: absolute;
        height: 20px;
        width: 75px;
        font-size: 14px;
        background-color: $orange;
        border-radius: 0 0 5px 0;
        transform: rotate(-90deg);
        text-align: center;
        color: white;

    }

    .tab1 {
        top: 170px;
        left: 18px;
    }

    .tab2 {
        top: 247px;
        left: 18px;
    }

    .tab3 {
        top: 324px;
        left: 18px;
    }
}
